h1 {
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 60px;
    text-align: center;
    
}

.quest, .opening, .catch, .info {
    font-family: 'Dancing Script', cursive;
}

img {
    border: 10px ridge rgb(17, 112, 88);
}

.title {
    padding-top: 15px;
} 

.fruit {
    float: right;
    padding-right: 250px;
    padding-top: 100px;
}

.row { 
    display: table-row-group;
}

.quest {
    float: right;
    font-size: 35px;
    width: 60%;
}

#redjuice, #fig1 {
    float: inline-start;
    width: 30%;
    margin-left: 35em;
    font-size: small;
}

.info {
    font-size: 30px;
    padding-left: 1em;
}

.opening {
    float: inline-start;
    margin-left: 18em;
    margin-top: 2px;
    width: 45%;
    font-size: 28px;
}

body {
    color: rgb(17, 112, 88);
    background-color: rgb(250, 197, 60);
}

.catch {
    font-size: 50px;
    text-align: center;
}

.title {
    float: left;
    padding-left: 80px;
    width: 50%;
    height: 150px;
}


header {
    border: 15px double rgb(17, 112, 88);
}

#drink {
    border: 15px double rgb(17, 112, 88);
}

#copyright {
    text-align: center;
}